<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <a class="navbar-left navbar-brand pull-left" [routerLink]="['../']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <div class="navbar-header navbar-brand hidden-xs">
          Choose Widget
        </div>
      </div>

      <div class="col-sm-9">
        <div class="navbar-header navbar-brand">
          Widget Edit
        </div>
        <a class="navbar-right navbar-brand pull-right" [routerLink]="['../']">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid myBody">
  <div class="col-sm-4 hidden-xs">

    <div *ngFor="let wid of widgets">
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['../', wid._id]">
            {{wid.widgetType}}
          </a>
          <a (click)="jumpToEdit(wid._id)">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div [ngSwitch]="widget.widgetType">
    <div *ngSwitchCase="'HEADING'">
      <app-widget-header></app-widget-header>
    </div>
    <div *ngSwitchCase="'IMAGE'">
      <app-widget-image></app-widget-image>
    </div>
    <div *ngSwitchCase="'YOUTUBE'">
      <app-widget-youtube></app-widget-youtube>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-right navbar-brand pull-right" [routerLink]="['/user/123']">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
