<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-left navbar-brand pull-left" [routerLink]="['../']">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <div class="navbar-header navbar-brand">
      Widget Edit
    </div>
  </div>
</nav>

<div *ngIf="widget" class="container-fluid myBody">
  <div [ngSwitch]="widget.type">
    <div *ngSwitchCase="'HEADING'">
      <app-heading-edit [widget]="widget"></app-heading-edit>
    </div>
    <div *ngSwitchCase="'IMAGE'">
      <app-image-edit [widget]="widget"></app-image-edit>
    </div>
    <div *ngSwitchCase="'YOUTUBE'">
      <app-youtube-edit [widget]="widget"></app-youtube-edit>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <a *ngIf="user" class="navbar-right navbar-brand pull-right" [routerLink]="['/user', user._id]">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
