<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-left navbar-brand pull-left" [routerLink]="['../']">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <div class="navbar-header navbar-brand">
      Widgets
    </div>
    <a class="navbar-right navbar-brand pull-right" [routerLink]="['./', 'new']">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
</nav>
<div *ngIf="widgets" class="myBody">
  <div *ngFor="let wid of widgets">
    <a [routerLink]="['./', wid._id]">
      <span class="glyphicon glyphicon-cog pull-right"></span>
    </a>
    <div [ngSwitch]="wid.type">
      <div *ngSwitchCase="'HEADING'">
        <app-heading-view [widget]="wid"></app-heading-view>
      </div>
      <div *ngSwitchCase="'YOUTUBE'">
        <app-youtube-view [widget]="wid"></app-youtube-view>
      </div>
      <div *ngSwitchCase="'IMAGE'">
        <app-image-view [widget]="wid"></app-image-view>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div *ngIf="user" class="container-fluid">
    <a class="navbar-right navbar-brand pull-right" [routerLink]="['/user', userId]">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
