<div *ngIf="widget" class="container-fluid">
  <form class="cl-form-bottom-padding">
    <label for="name">Name</label>
    <input [(ngModel)]="widget.name" name="name" type="text" class="form-control" placeholder="Name" id="name" required>
    <label for="text">Text</label>
    <input [(ngModel)]="widget.text" name="text" type="text" class="form-control" id="text" required>
    <label for="url">URL</label>
    <input [(ngModel)]="widget.url" name="url" type="text" class="form-control" placeholder="https://youtu.be/xxxxxx"
           id="url" required>
    <label for="width">Width</label>
    <input [(ngModel)]="widget.width" name="width" type="text" class="form-control" placeholder="100%" id="width"
           required>
  </form>
  <a class="btn btn-primary btn-block" (click)="updateWidget()">Update</a>
  <a class="btn btn-danger btn-block" (click)="deleteWidget()">Delete</a>
</div>
