<div class="container-fluid">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1>Login</h1>
  <form (ngSubmit)="login()" #f="ngForm">

    <input placeholder="username"
           name="username"
           type="text"
           class="form-control"
           ngModel required #username="ngModel"/>
    <span class="help-block"
          *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>
    <input placeholder="password"
           name="password"
           type="password"
           class="form-control"
           ngModel required #password="ngModel"/>
    <span class="help-block"
          *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>
    <button type="submit"
      class="btn btn-primary btn-block"
      [disabled]="!f.valid">
      Login
    </button>
    <button routerLink="/register"
      class="btn btn-success btn-block">Register</button>
  </form>
</div>
