<div class="container-fluid">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1>Login</h1>
  <form (ngSubmit)="login()" #f="ngForm">
    <input placeholder="username"
           name="username"
           type="text"
           class="form-control"
           [(ngModel)]="username" required #name="ngModel"/>
    <span class="help-block"
          *ngIf="name.invalid && name.touched">
      Please enter username!
    </span>
    <input placeholder="password"
           name="password"
           type="password"
           class="form-control"
           [(ngModel)]="password" required #pass="ngModel"/>
    <span class="help-block"
          *ngIf="pass.invalid && pass.touched">
      Please enter password!
    </span>
    <button type="submit"
      class="btn btn-primary btn-block"
      [disabled]="f.invalid">
      Login
    </button>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
      Facebook
    </a>
    <button routerLink="/register"
      class="btn btn-success btn-block">Register</button>
  </form>
</div>
