<body>
<main>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Edit Website</a>
      <ul class="left">
        <li><a routerLink="../">
          Back
          <i class="material-icons left">chevron_left</i>
        </a></li>
      </ul>
    </div>
  </nav>

  <div *ngIf="websites && website">
    <div class="row">
      <div class="col l4 s12">
        <div *ngFor="let web of websites">
          <ul class="collection">
            <li class="collection-item">
              <a [routerLink]="['../', web._id, 'page']">
                {{web.name}}
              </a>
              <a class="secondary-content" (click)="editWebsite(web._id)">
                <i class="material-icons right">settings</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col l6 s12 offset-l1">
        <div class="right-align">
          <a class="btn-floating btn-large waves-effect waves-light green lighten-1"
             (click)="updateWebsite()">
            <i class="material-icons">check</i></a>
        </div>
        <div class="col input-field s12">
          <input [(ngModel)]="website.name" class="validate" type="text" name="name" id="name"
                 placeholder="Name">
        </div>
        <div class="col input-field s12">
          <textarea [(ngModel)]="website.description" type="text" name="description" id="description"
                    placeholder="Description">
          </textarea>
        </div>
        <a (click)="removeWebsite()" class="btn waves-effect btn-large red-darken-1">Remove</a>
      </div>
    </div>
  </div>
</main>

<footer class="page-footer">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Blog</h5>
      <p class="grey-text text-lighten-4">Share your media from anywhere!</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://github.com/svsf91">Github</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
