<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-left navbar-brand pull-left" [routerLink]="['/user/123/website/123/page/123/widget']">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <div class="navbar-header navbar-brand">
      Choose Widget
    </div>
  </div>
</nav>

<div class="container-fluid myBody">
  <ul class="list-group">
    <li class="list-group-item">
      <a [routerLink]="['../heading']">
        Heading
      </a>
    </li>

    <li class="list-group-item">
      <a>Label</a>
    </li>

    <li class="list-group-item">
      <a>HTML</a>
    </li>

    <li class="list-group-item">
      <a>Text Input</a>
    </li>

    <li class="list-group-item">
      <a>Link</a>
    </li>

    <li class="list-group-item">
      <a>Button</a>
    </li>

    <li class="list-group-item">
      <a [routerLink]="['../image']">
        Image
      </a>
    </li>

    <li class="list-group-item">
      <a [routerLink]="['../youtube']">
        YouTube
      </a>
    </li>

    <li class="list-group-item">
      <a>Data Table</a>
    </li>

    <li class="list-group-item">
      <a>Repeater</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-right navbar-brand pull-right" [routerLink]="['/user/123']">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
