<div class="container-fluid">
  <h1>Register</h1>
  <form>
    <input class="form-control" placeholder="username" type="text" id="username">
    <input class="form-control" placeholder="password" type="password" id="password">
    <input class="form-control" placeholder="verify password" type="password" id="verify">
    <a routerLink="/register" class="btn btn-primary btn-block">
      Register
    </a>
    <button routerLink="/login" class="btn btn-danger btn-block">
      Cancel
    </button>
  </form>
</div>
